<font size='5'>**Text to csv file**</font>

In [1]:
import csv

In [ ]:
'''

input_file='caption 2014.txt'
output_file='caption_2014.csv'

# Pead and process
with open(input_file,'r',encoding='utf-8') as infile, open(output_file,'w',newline='',encoding='utf-8') as outfile:
    writer=csv.writer(outfile)
    writer.writerow(['Column1','Column2']) # Header
    for line in infile:
        parts=line.strip().split(maxsplit=1) # Spliting
        if len(parts)==2:
            writer.writerow(parts) # First word as first column and rest is secondcolumn

        else:
            writer.writerow([parts[0]],'') # If no second part

print(Successful)


'''

In [3]:
import pandas as pd
df=pd.read_csv('caption_2014.csv')

In [4]:
df.head()

    Column1                                            Column2
0   18_em_0      x _ { k } x x _ { k } + y _ { k } y x _ { k }
1  18_em_10                                                2 6
2  18_em_11                                    q _ { t } = 2 q
3  18_em_12  \frac { p e ^ { t } } { 1 - ( 1 - p ) e ^ { t } }
4  18_em_13          4 ^ { 2 } + 4 ^ { 2 } + \frac { 4 } { 4 }

<font size='5'>**Merge all csv files**</font>

In [ ]:
'''

import glob

# Specify the path where your CSV files are stored
csv_files = glob.glob("..//Sem 2 project/*.csv")  

# Read and merge all CSV files
df_list = [pd.read_csv(file) for file in csv_files]  # Read all CSVs
merged_df = pd.concat(df_list, ignore_index=True)  # Concatenate them by rows

# Save the merged file
merged_df.to_csv("caption_dataset.csv", index=False)

print("CSV files have been merged successfully.")

'''